.modal-body {color: black !important;}.btn-primary {background-color: #fbbd19 !important;border-color: #fbbd19 !important;}.btn-primary:hover {background-color: #fbbd19 !important;border-color: #fbbd19 !important;}

