body{
  font-family: $RegularFont;
  font-size: .8rem;
  height: 100vh;
  direction: ltr #{"/*rtl:rtl*/"};
}
// Pagination
.page-link, a{
  color: $primaryColor;
 
}

.page-link:hover, a:hover{
  color: $accentColor;
  h5{
    color: $accentColor;
  }
}


.main-section{
  background-image: url("../images/side-background.svg");
  left: 25%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.inner-pages{
  + .container{
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 767px){
.seperator{
  display: block;
}
}

.dropdown-menu{
  left:auto;
}

@media only screen and (max-width: 767px){
  .dropdown-menu{
    right:0;
  }
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"};
}

.carousel-control-next, .carousel-control-prev{
  width: 30px;
  height: 30px;
  top: auto;
  bottom: 60px;
  padding: 5px;
  border-radius: .25rem;
  background-color: blue;
}

.carousel-control-prev {
  right: 100px;
  left: auto;
}

.carousel-control-next {
  right: 60px;
  left: auto;
}

@media only screen and (max-width: 767px){
.carousel-control-prev {
  right: 60px;
  left: auto;
}

.carousel-control-next {
  right: 20px;
  left: auto;
}

.carousel-control-next, .carousel-control-prev{
  bottom: 20px;
}
}

.login-container{
  width: 330px;
  margin: 0 auto;
}

.side-img-container{
  position:fixed;
  right: 0;
}

.filter{
  .nav-pills .nav-link {
    border-radius: .25rem;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: $darkGreyColor;
    background-color: $whiteColor;
    padding: .4rem 1rem;

    &.active{
      color: $whiteColor;
      background-color: $accentColor;
      border-color: $accentColor;
    }
  }
}

.form-control{
  border-color: #ddd;
}

span.icon{
  width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.requests-details-cont{
  background-image:url("../images/admin-side-img.svg");
  background-size: 40%;
  background-repeat: no-repeat;
}



  .finalEvaluation{
    .evaluation{
      .form-group{
        background-color:#eee ;
      }
      .sideEvaluation{
        width: 90px;
      }

      &:last-of-type{
        .form-group{
          color: $blackColor;
          background-color:$accentColor;   
        }
        
      }
    }
  }


