footer{
    .row{
        padding-left: 10%;
        padding-right: 10%;
    }
    .page-link, a {
        color: #fff !important;
        font-weight: normal;
    }
    li{
        margin-bottom: 10px;
    }
}
