$primaryColor: rgb(255,205,0); // #988658;
$accentColor:rgb(227,168,0); // #F8CE46;
$accentColor1:#696969;
$accentColor2:#FFCD55;
$accentColor3:#EBEBEB;
$accentColor4:#F6F5F0;
$lightPrimary: rgba(255,205,0, .1); // #988658;
$midlightPrimary: rgba(255,205,0, .5); // #988658;
$whiteColor:#ffffff;
$blackColor:#333333;
$greyColor:#aaa;
$darkGreyColor:#777;
$textDanger: #ff3547;
$secondaryColor:rgba(98,0,234,.1);
$favorite:#FEE400;
$success:#28A745;
$downvote:#FF8888;

// Colors
.primary-color, .text-primary{
  color: $primaryColor !important;
}
.bg-primary{
  background-color: $primaryColor !important;
}
.text-primary{
  color: $primaryColor;
}

.text-success{
  color: $success;
}

.accent-color , .text-accent{
  color:$accentColor;
}

.primary-gradient{
background-image: linear-gradient(To Left , $primaryColor , $accentColor);
}

.white-color{
  color: $whiteColor;
}

.text-grey{
  color: $greyColor;
}
.text-dark-grey{
  color: $darkGreyColor;
}

.text-light-primary{
  color: $lightPrimary;
}

.bg-light-primary{
  background-color: $lightPrimary;
}

.text-dark {
  color: #000 !important;
}
.black-color{
  color:$blackColor;
}

.danger-color{
  color:$textDanger;
}

.background-primary-color{
  background-color: $primaryColor;
}

.background-accent-color{
  background-color: $accentColor;
}

.background-accent-color1{
  background-color: $accentColor1;
}
.background-accent-color2{
  background-color: $accentColor2;
}
.background-white-color{
  background-color: $whiteColor;
}

.background-black-color{
  background-color: $blackColor;
}

.background-grey-color{
  background-color: $greyColor;
}

.border-primary{
  border-color: $primaryColor !important;
}

.border-light-primary{
  border-color: rgba(152, 134, 88, .5) !important;
}

.border-accent{
  border-color: $accentColor !important;
}

.bg-light{
  background-color: $accentColor4 !important; 
}

.bg-accent{
  background-color: $accentColor !important; 
}

.bg-accent1{
  background-color: $accentColor1 !important; 
}

.bg-accent2{
  background-color: $accentColor2 !important; 
}

.bg-accent3{
  background-color: $accentColor3 !important; 
}

.bg-accent4{
  background-color: $accentColor4 !important; 
}

.bg-light-danger{
  background-color: rgba(220, 53, 69, .1)!important;
}

@mixin primaryGradient {
  background-image: linear-gradient(To Left , $primaryColor , $accentColor);
}

