// Borders
.rounded-pill{
    border-radius: 100rem;
}

.fit-cover{
    object-fit: cover;
}
.badge{
    font-size: 11px;
    padding: .5em 1em;
}

.badge-success {
    color: $success;
    background-color: rgba(40, 167, 69,.2);
}

.badge-in-progress{
    color: $primaryColor;
    background-color: rgba(53, 68, 238,.2);
}

.badge-rejected {
    color: $textDanger;
    background-color: rgba(255, 53, 71,.2);
}

.badge-info{
    color: $whiteColor;
    background-color: $accentColor;
    font-size: 12px;
}

.box-content{
    box-sizing:content-box;
}

/*
@media (min-width: 768px){
    .pr-md-5, .px-md-5 {
        padding-left: 4rem!important;
    }
    
    .pl-md-5, .px-md-5 {
        padding-left: 4rem!important;
    }
}
*/
.main-padding-x {
    padding: 0 7rem;
}

.main-padding-y {
    padding: 7rem 0;
}

.main-padding-xy {
    padding: 7rem;
}

.main-padding-t {
    padding-top: 7rem;
}
@media (min-width: 1024px){
.padding-left-10{
    padding-left:10% !important;
}

.padding-right-10{
    padding-right:10% !important;
}

.padding-top-7{
    padding-top:7% !important;
}

.padding-bottom-7{
    padding-bottom:7% !important;
}
}

@media (max-width: 768px){
    .w-75, .w-50{
        width: 100% !important;
    }

    p {
        font-size: .7rem;
    }
}

.no-underline{
    text-decoration:none !important;
}